@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
}

ul{
  list-style: none;
  padding-left: 0;
}

button{
  cursor: pointer;
}

.container_principal{
  width: 95vw;
  margin-left: 2rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.btn_adduser{
  width: 10rem;
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  color: white;
  background-color: #555A88;
}

.btn_adduser:hover{
  filter: brightness(1.2);
}

.user_card_container{
  display: flex;
  flex-wrap: wrap;
}

h1{
  font-size: 3rem;
}
